<link href="/style.css" rel="stylesheet">

<% include header %>
    
    <h1><%=assassin[0].code_name ? assassin[0].code_name : assassin[0].name %></h1>
    <div class = "home">
        <a href= "/assassins">
          <img class="profilepic" src="<%=assassin[0].assassin_photo%>" alt="<%=assassin[0].assassin_id%>">
        </a>
        <div id = 'info'>
          <h2><%=assassin[0].name%></h2>
          <p>Age: <%=assassin[0].age%></p>
          <p>Rating: <%=assassin[0].rating%></p>
          <p>Price: $<%=assassin[0].price%></p>
          <p>Weapon: <%=assassin[0].weapon%></p>
          <p>Number of Kills: <%=assassin[0].name%></p>
          <p><strong>Contact now at <%=assassin[0].contact_info%></strong></p>
          <p>
            <a href="/assassins/edit/<%=assassin[0].assassin_id%>" >
              <button class="edit" >Edit</button>
            </a>
            <a href="/assassins/remove/<%=assassin[0].assassin_id%>">
              <button class="remove" >Remove</button>
            </a>
          </p>   
        </div>      
    </div>

      
    <div class= 'home'>
        <h1>Active Contracts</h1>
  <% if (assassin[0].contract_id) { %>      
        
          <ul class='allcontracts'>
            <%assassin.forEach((assassin) => { %>
              <ul class=contract-list-items>
                <li class=contract-item>
                    <h2>
                      <%=assassin.target_name%>
                    </h2>
                  <div><a href="/contracts/<%=assassin.contract_id%>">
                    <img
                    class = 'photo' 
                    src="<%=assassin.target_photo%>" 
                    alt="<%=assassin.target_name%>"
                    ></a>
                  </div>
                  <h4>
                    Budget $<%=assassin.budget%>
                  </h4>      
                  <h4>
                    <%=assassin.target_location%>
                  </h4>
                  <h4>
                  Security level <%=assassin.target_security%>
                  </h4>
                  <div class="tripple">
                      <a href="/assassins/edit/<%=assassin.assassin_id%>" >
                        <button class="edit" >Edit</button>
                        <button class="remove" >Remove</button>
                      </a>
                  </div>
                 
                </li>
              </ul>  
           <% }) %>
          </ul>
    
        <% } else { %>
          <div class='home'>
              <h1>None</h1>
          </div>
        
          <% } %>
    </div>
              
