<link href="/style.css" rel="stylesheet" >
<% include header %>

      <h1 class='title'>Please update your information</h1>

      <form action="/assassins/edit/done" method = "post">
        <div>
            <input type="hidden" id="assassin_id" name="assassin_id" value='<%=assassin[0].assassin_id%>' >
          </div>
          <br>
        <div>
            <label for="name">your name:</label>
            <input type="text" id="name" name="name" value='<%=assassin[0].name%>' >
          </div>
          <br>
          <div>
            <label for="code_name">your code name:</label>
            <input type="text" id="code_name" name="code_name" value="<%=assassin[0].code_name%>">
          </div>
          <br>
          <div>
            <label for="weapon">your weapon of choice:</label>
            <input type="text" id="weapon" name="weapon" value="<%=assassin[0].weapon%>">
          </div>
          <br>
          <div>
            <label for="age">your age:</label>
            <input type="integer" id="age" name="age" value="<%=assassin[0].age%>">
          </div>
          <br>
          <div>
            <label for="price">your price:</label>
            <input type="integer" id="price" name="price" value="<%=assassin[0].price%>">
          </div>
          <br>
          <div>
            <label for="assassin_photo">your avatar:</label>
            <input type="text" id="assassin_photo" name="assassin_photo" value="<%=assassin[0].assassin_photo%>">
          </div>
          <br>
          <div>
              <label for="kills">number of kills:</label>
              <input type="integer" id="kills" name="kills" value="<%=assassin[0].kills%>">
            </div>
            <br>
            <div>
                <label for="rating">your rating:</label>
                <input type="decimal" id="rating" name="rating" value="<%=assassin[0].rating%>">
              </div>
              <br>
            <div>
                <label for="contact_info">email:</label>
                <input type="text" id="contact_info" name="contact_info" value="<%=assassin[0].contact_info%>">
              </div>
              <br>
            
          <button type = "submit">submit</button>
      </form>

</div>
</body>
