<link href="./style.css" rel="stylesheet" >
<% include header %>

      <h1 class='title'> Open Contracts</h1>
    
      <ul class='allcontracts'>
          <%contracts.forEach((contract) => { 
            if (contract.contract_status === 'active') {  %>
            <ul class=contract-list-items>
              <li class=contract-item>
                  <h2>
                    <%=contract.target_name%>
                  </h2>
                <div>
                  <a href="contracts/<%=contract.contract_id%>">
                  <img
                  class = 'photo' 
                  src="<%=contract.target_photo%>" 
                  alt="<%=contract.target_name%>"
                  >
                  </a>
                </div>
                <br>
                <h4>
                  Budget $<%=contract.budget%>
                </h4>      
                <h4>
                  <%=contract.target_location%>
                </h4>
                <h4>
                Security level <%=contract.target_security%>
                </h4>
                <br>
                    <a href="/contracts-edit/<%=contract.contract_id%>" >
                      <button class="edit" >Edit</button>
                    </a>               
              </li>
            </ul>  
         <% }
          }) %>
        </ul>

        <h1 class='title'>Completed Contracts</h1>
    
        <ul class='allcontracts'>
            <%contracts.forEach((contract) => { 
              if (contract.contract_status === 'complete') { %>
              <ul class=contract-list-items>
                <li class=contract-item>
                    <h2>
                      <%=contract.target_name%>
                    </h2>
                  <div>
                    <a href="contracts/<%=contract.contract_id%>">
                    <img
                    class = 'photo' 
                    src="<%=contract.target_photo%>" 
                    alt="<%=contract.target_name%>"
                    >
                    </a>
                  </div>
                  <br>       
                  <h4>
                    <%=contract.target_location%>
                  </h4>

                 
                </li>
              </ul>  
           <% }
            }) %>
          </ul>    

  
</body>
