<link href="/style.css" rel="stylesheet" >

<% include header %>
<h1 class='title'>Update your job</h1>

<form class = "form" action="/contracts-edit/done" method = "post">
  <input class="input" type="hidden" id="contract_id" name="contract_id" value='<%=contract[0].contract_id%>' >

  <div>
    <label for="client_name">Your name:</label>
    <input class="input" type="text" id="client_name" name="client_name" value= '<%=contract[0].client_name%>'>
  </div>
  <br>
  <div>
      <label for="target_name">Target name:</label>
      <input class="input" type="text" id="target_name" name="target_name" value= '<%=contract[0].target_name%>'>
    </div>
    <br>
    <div>
      <label for="target_location">Target location:</label>
      <input class="input" type="text" id="target_location" name="target_location" value= '<%=contract[0].target_location%>'>
    </div>
    <br>
    <div>
      <label for="budget">Your budget</label>
      <input class="input" type="integer" id="budget" name="budget" value= '<%=contract[0].budget%>'>
    </div>
    <br>
    <div>
      <label for="target_photo">Provide a photo</label>
      <input class="input" type="text" id="target_photo" name="target_photo" value= '<%=contract[0].target_photo%>'>
    </div>
    <br>
    <div>
      <label for="target_security">From 1-10, how protected is this target?</label>
      <input class="input" type="ingeger" id="target_security" name="target_security" value= '<%=contract[0].target_security%>'>
    </div>
    <br>
    <button type = "submit">Submit</button>
</form>

