<link href="/style.css" rel="stylesheet">

<% include header %>
    
    <h1><%=contract[0].target_name %></h1>
    <div class = "home">
        <a href= "/contracts">
          <img class="profilepic" src="<%=contract[0].target_photo%>" alt="<%=contract[0].target_name%>">
        </a>
        <div id = 'info'>
          <h2>Contract <%=contract[0].contract_status%></h2>
          <p>Budget: $<%=contract[0].budget%></p>
          <p>Security level: <%=contract[0].target_security%></p>
          <p>Client: <%=contract[0].client_name%></p>
          <p>Location: <%=contract[0].target_location%></p>
          
          <p>
            <a href="/contracts-edit/<%=contract[0].contract_id%>" >
            <button class="edit">Edit</button>
            <br>
            </a>
            <!-- <a>
            <button class="remove">Close</button>
            </a> -->
          </p>
          <p>
            <a href="/register/<%=contract[0].contract_id%>">  
              <button class="register" >Join this contract</button>
            </a>
          </p>
            
        </div>      
    </div>

      
    <div class= 'home'>
        <h1>Assassins on the Case</h1>

      <% if (contract[0].assassin_id) { %>

        <ul class='allcontracts'>
            <%contract.forEach((contract) => { %>
              <ul class=contract-list-items>
                <li class=contract-item>
                    <h2>
                      <%= contract.code_name ? contract.code_name : "Anonymous"%>
                    </h2>
                  <div><a href="/assassins/<%=contract.assassin_id%>">
                    <img
                    class = 'photo' 
                    src="<%=contract.assassin_photo%>" 
                    alt="<%=contract.assassin_photo%>"
                    ></a>
                  </div>
                  <br>
                  <h4>
                    Rating: <%=contract.rating%>
                  </h4>      
                  <h4>
                    Kills: <%=contract.kills%>
                  </h4>
                  <br>
                  <div class="tripple">
                      <!-- <a href="/" > -->
                        <button class="edit" >Edit</button>
                        <button class="remove" >Remove</button>
                      <!-- </a> -->
                  </div>
                 
                </li>
              </ul>  
              <a href="/register">
                
                
              </a>
           <% }) %>
          </ul>
    
    <% } else { %>
        <div class='home'>
          <a href="/register/<%=contract[0].contract_id%>">
            <div class='bigbutton'>
              <h1>No assassins yet. Sign up now!</h1>

            </div>
          </a>
        </div>
    <% } %>    

    </div>
              
